[submodule "libs/shower-sc5"]
	path = libs/shower-sc5
	url = https://github.com/varya/shower-sc5.git
[submodule "libs/shower-core"]
	path = libs/shower-core
	url = https://github.com/shower/core§.git
